<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu9YxEodYHsx2jE2LicpuJ3vc63_KHFFE</string>
	<key>GCM_SENDER_ID</key>
	<string>465912947843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mortgageCalculator</string>
	<key>PROJECT_ID</key>
	<string>mortage-5d49b</string>
	<key>STORAGE_BUCKET</key>
	<string>mortage-5d49b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465912947843:ios:cdb93fa5243bd3d45467b6</string>
</dict>
</plist>